body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  background-color: grey
}

h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif
      }

#cssmenue {
  padding-top: auto;
  color: #35df
}

address {
  background-color: lightblue
  width:auto;
  padding-bottom: auto;
}
